@{
    Layout = "_Layout";
}
<html>

<body>
    <h1>Welcome Claire!</h1>
    <h2>This application will help you manage your stylists and their clients</h2>
    <h2>@Html.ActionLink("See all stylists", "Index", "Stylists")</h2>
    <h3>@Html.ActionLink("Seel all clients", "Index", "Clients")</h3>


</body>

</html>